:root {
  --colorBlue: #223263;
  --colorOrange: #dc9000;
}
#iconeDelete {
  height: 3%;
  margin-top: 2%;
  position: absolute;
  width: 1%;
  right: 3%;
}

#header-title {
  color: var(--colorBlue);
  margin: 3%;
  font-family: "Poppins", "Arial";
}

select {
  border-radius: 3px;
  border:  1 solid var(--colorOrange);
  background-color: var(--colorOrange);
  color: var(--colorWhite);
  padding: 1.5vh 0.5vw 1.5vh 0vw;
}

@media (min-width: 360px) and (max-width: 900px) {

  .card-bottom {
    display: flex;
    flex-direction: column;
  }

  #iconeDelete {
   visibility: hidden;
  }

  .card-details {
    font-size: 0.5em;
    right: 5%;
    position: absolute;
  }
  select {
    padding: 0.6vh 0vw 0.6vh 0vw;
  }
} 