:root {
  --colorMenu: #6A0000;
  --colorWhite: #FFFFFF;
  --colorOrange: #dc9000;
}
* {
  margin: 0;
  padding: 0;
}

section .menuFilter {
  height: 8vh;
}
.menuFilter {
  margin-top: 4%;
}

#menu-lateral {
  color: var(--colorWhite);
  text-decoration: none;
}

.submenu {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 3vw;
}

.submenu:hover {
  text-decoration: underline;
  text-decoration-color: var(--colorOrange)
}

section form {
  margin: 1vh 1vw 0 22vw;
}

section .header-menu {
  margin: 1vh 1vw 0 22vw;
}

button {
  cursor: pointer;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
}
#iconeOthers, #iconePerfil {
  margin: 1%;
}

#iconeOthers {
  height: 40%;
}

#iconePerfil {
  height: 60%;
}

#logo {
  margin-left: 3vw;
} 

ul li {
  border: 1px solid var(--colorWhite);
  border-left: none;
  text-align: center;
  padding: 0.5em 0.5em 0.5em;
  list-style: none;
}
li:hover {
  background-color: var(--colorOrange)
}
nav {
  background-color: var(--colorMenu);
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -10px;
}

header{
  display: flex;
  background-color: var(--colorOrange);
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  height: 6%;
}

@media (min-width: 360px) and (max-width: 900px) {
  
  header {
    height: 30%;
  }

  #iconeOthers, #iconePerfil {
    margin: 1%;
  }

  #iconeFilter {
    width: 40px;
  }

  #iconeOthers {
    width: 20px;
  }

  #iconePerfil {
    width: 30px;
  }

  section form {
    margin: 1vh 1vw 1vw 1vw;
  }

  section .header-menu {
    margin-lft: -5%;
  }

}
