* {
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 2vh;
}

body {
  background-color: #AE70BE;
  height: 680px;
}

.cleanField {
  background-color: #D3D3D3;
  padding: 10px 41.5%;
}

button {
  background-color: #AD5EC1;
  border: none;
  font-size: 1em;
  padding: 10px 42%;
  margin: 3%; 
}

.card {
  background-color: #EEF0F2;
  display: flex;
  flex-direction: column;
  margin: 15vh 0 0 40vw;
  padding: 3%;
  width: 20vw;
  align-text: right;
}

.field {
  margin: 2vh 0 2vh 0;
}

.label{
  margin-bottom: 2vh;
}

button:hover {
  background-color: #A17BAB;
}

.message {
  color: #ffff ;
  padding: 6px;
  margin-bottom: 2%;
}

input {
  background-color: #E6E8E9;
  padding: 2%;
  margin-bottom: 2%;
  border: none;
  width: 7vw;
}



